annotated-types==0.7.0 ; python_version >= "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.12"
mypy==1.15.0 ; python_version >= "3.12"
pydantic-core==2.27.2 ; python_version >= "3.12"
pydantic==2.10.6 ; python_version >= "3.12"
ruff==0.11.2 ; python_version >= "3.12"
typing-extensions==4.12.2 ; python_version >= "3.12"
